{% extends "base.html" %}
{% block title %}Update Task{% endblock title %}
{% block body %}
<div class="container">
    {% if error %}
    <div class="mb-3 mt-3 alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 form-group">
          <label for="exampleInputEmail1">Title</label>
          <input type="text" name= "title" value = "{{task.title}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control"  name = "description" id="description" placeholder="Enter your Description" rows="3">{{task.description}}</textarea>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock body %}